@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

$primary: #E2CFC1;
$secondary: #2b7faf;
$text: #262626;
$background: #f0f0f0;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Space Grotesk', sans-serif;
    color: $text;
    background-color: $background;
    min-height: 100% !important;
    height: 100%;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;

    ::selection {
        color: white;
        background-color: $secondary;
    }
}

h2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 30px;
        border-radius: 50%;
        background-color: $primary;
        top: -5px;
        left: -10px;
        z-index: -1;
        transform: rotate(-45deg);
        
    }
}

h3 {
    font-size: 14px;
}

.paragraph {
    color: lighten($text, 30);
    line-height: 32px;
}

b {
    color: $text;
    font-weight: 500;
}

label {
    font-size: 12px;
    color: lighten($text, 50);
}

input,
textarea {
    border-radius: 4px;
    width: 100%;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid #e2e2e2;

    &:focus {
        // outline: 2px solid $primary
        outline: none !important;
        // border-color: $primary;
        border-width: 2px;

    }
}

input {
    padding: 0 8px;
    height: 32px;
}

textarea {
    resize: none;
    height: 140px;
    padding: 8px;
}
